<!DOCTYPE html>

<meta charset=utf-8>
<title>lala</title>
<link rel="shortcut icon" href=favicon.ico>
<link rel=stylesheet href=/static/css/lala.css>

<nav>
    <img id=loading src=/static/img/loading.gif style=display:none; />
    <ul id=menu>
        <li><a href=#current id=current title=Current>Current</a></li>
        <li><a href=#library id=library title=Library>Library</a></li>
        <li><a href=#playlists id=playlists title=Playlists>Playlists</a></li>
    </ul>
    <ul id=controls>
        <li><a href=# id=previous title=Previous>Previous</a></li>
        <li><a href=# id=playpause title=Play class=play>Play</a></li>
        <li><a href=# id=stop title=Stop>Stop</a></li>
        <li><a href=# id=next title=Next>Next</a></li>
    </ul>
</nav>

<section>
    <!-- here goes the content -->
</section>

<script type=text/javascript src=/static/js/jquery.js></script>
<script type=text/javascript src=/static/js/jquery.ui.js></script>
<script type=text/javascript src=/static/js/jquery.history.js></script>
<script type=text/javascript src=/static/js/jquery.menu.js></script>
<script type=text/javascript src=/static/js/json2.js></script>
<script type=text/javascript src=/static/js/lala.js></script>

<script type=text/javascript>
    $(window).load(function() {
        lala.init();
    });
</script>
