{% if tracks %}
<table class=current>
    <tr class=head>
        <th>Artist</th>
        <th>Title</th>
        <th class=right>Duration</th>
    </tr>
    {% for track in tracks %}
    <tr id={{ track.id }}>
        {% set title = (track.artist + ' - ' + track.title).decode('utf-8') %}
        <td><a href=# class=play title="Play {{ title }}">{{ track.artist.decode('utf-8') }}</a></td>
        <td><a href=# class=play title="Play {{ title }}">{{ track.title.decode('utf-8') }}</a></td>
        <td class=right>{{ track.time|duration }}</td>
    </tr>
    {% endfor %}
</table>
<ul class=context_menu>
    <li class="head current_selection">Current</li>
    <li class=play><a href=#play>Play</a></li>
    <li><a href=#remove>Remove</a></li>
    <li class=head>All</li>
    <li><a href=#clear>Remove</a></li>
</ul>
{% else %}
<div class=empty>
    There are no tracks in your current playlist,<br /> I'm sorry :'(
</div>
{% endif %}
