{% if level %}
    <tr class=sterile id="sub_{{ current_path|base16 }}">
        <td style="padding:0;margin:0;border:0;" colspan="2">
{% endif %}
<table>
{% if not level %}
    <tr class=head>
        <th colspan=2>Item</th>
    </tr>
    {% if up is not none %}
    <tr>
        <td colspan=2>
            <a href="#library?path={{ up|url }}" class=up title="One folder up..">One folder up..</a>
        </td>
    </tr>
    {% endif %}
{% endif %}
{% for item in items %}
    {% set name = (item.directory.split('/')[-1] if item.directory else item.title + ' - ' + item.artist).decode('utf-8') %}
    {% set path = (item.file if item.file else item.directory).decode('utf-8') %}
    <tr id="{{ path|base16 }}">
        <td style="padding-left:{{ level * 20 + 4 }}px">
    {% if item.directory %}
            <a href=# class=expand title="Toggle {{ name }}">Toggle {{ name }}</a> 
            <a href="#library?path={{ path|url }}" title="Switch to {{ name }}">{{ name }}</a>
    {% else %}
            <span class=track>{{ name }}</span>
    {% endif %}
        </td>
        <td class=right>
            <a href=# class=add title="Add to playlist">Add</a> 
            <a href=# class=replace title="Replace playlist">Replace</a> {#
            <a href=# class=add_play title="Add to playlist and play">Add and play</a> 
            <a href=# class=replace_play title="Replace playlist and play">Replace and play</a> 
            <a href=# class=update title="Update database">Update</a>#}
        </td>
    </tr>
{% endfor %}
</table>
<ul class=context_menu>
    <li class="head current_selection">Current</li>
    <li><a href=#add>Add</a></li>
    <li><a href=#replace>Replace</a></li>
    <li><a href=#update>Update</a></li>
    <li class=head>All</li>
    <li><a href=#update>Update</a></li>
</ul>
{% if level %}
        </td>
    </tr>
{% endif %}
