<form action=/settings method=POST>
    <h2>MPD Server</h2>
    <table>
        <tr>
            <td>Host</td>
            <td><input id=mpd_host name=host value="{{ mpd_host }}" /></td>
        </tr>
        <tr>
            <td>Port</td>
            <td><input id=mpd_port name=port value="{{ mpd_port }}" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id=mpd_pass name=pass value="{{ mpd_pass }}" type=password /></td>
        </tr>
    </table>
    <input type=submit value=Save class=save /> 
    <input type=submit value=Abort class=abort />
</form>
