* {
    margin: 0;
    padding: 0;
}

/* corpus */
html, body {
    width: 100%;
    font-family: sans-serif;
    font-size: 11px;
    color: #666;
}

/* navigation */
nav {
    position: fixed;
    width: 100%;
    height: 26px;
    top: 0;
    background-color: #3d4444;
}
nav ul {
    list-style: none;
    position: fixed;
    top: 0;
}
nav li {
    float: left;
}
nav #menu {
    left: 15%;
}
nav #menu li {
    padding-right: 16px;
    padding-top: 6px;
}
nav #menu a {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: #333 1px 1px, #333 1px 1px;
    color: #999;
    font-family: sans-serif;
    font-size: 10px;
}
nav #menu a:hover {
    border-bottom: 1px dotted #999;
}
nav #menu a.active {
    color: #fff;
}
nav #menu a.minor {
    color: #666;
}
nav #controls {
    right: 15%;
}
nav #controls li {
    padding-left: 2px;
    padding-top: 5px;
}
nav #controls a {
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
nav #controls #previous {
    background-image: url(/static/img/previous.png);
}
nav #controls #next {
    background-image: url(/static/img/next.png);
}
nav #controls #stop {
    background-image: url(/static/img/stop.png);
}
nav #controls .play {
    background-image: url(/static/img/play.png);
}
nav #controls .pause {
    background-image: url(/static/img/pause.png);
}
nav #loading {
    position: fixed;
    left: 6px;
    top: 5px;
}

/* content section */
section {
    display: block;
    width: 70%;
    margin: 40px auto;
}

/* general table style */
table {
    width: 100%;
}
table, tr, th, td {
    border-spacing: 0;
}
tr.odd {
    background-color: #fbfbfb;
}
tr.current {
    font-weight: bold;
    color: #444;
}
tr.ui-selected {
    background-color: #fcffaf !important;
}
tr.ui-selecting {
    background-color: #fdffca !important;
}
tr:hover:not(.sterile):not(.head) {
    background-color: #d9f2ff;
    color: #0d6b9b;
}
tr:hover:not(.sterile):not(.head) a {
    color: #0d6b9b;
}
tr.sterile > td {
    margin:0;
    padding:0;
    border:0;
}
th {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 3px 4px;
}
td {
    border-bottom: 1px dashed #ddd;
    padding: 3px 4px;
    margin: 3px 5px;
    height: 16px;
    vertical-align: middle;
}
td a {
    line-height: 16px;
}
div.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted #999;
}

/* context menu */
ul.context_menu {
    display: none;
    position: absolute;
    z-index: 99;
    list-style: none;
    width: 100px;
    border: 1px solid #bbb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
ul.context_menu li {
    padding: 4px 8px;
    border-bottom: 1px dotted #bbb;
    color: #333;
    background-color: #ddd;
}
ul.context_menu li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
ul.context_menu li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0;
}
ul.context_menu li.head {
    background-color: white !important;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #bbb;
}
ul.context_menu li:hover {
    background-color: #ccc;
}
ul.context_menu li:hover a {
    color: white;
}
ul.context_menu li a {
    display: block;
    height: 100%;
    width: 100%;
}

/* overlay */
div.overlay_bg {
    z-index: 99;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
}
div.overlay {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    background-color: #eee;
    border: 4px solid #999;
    padding: 20px;
    border-radius: 26px;
}

/* settings */
div#settings {

}
div#settings form {
    display: none;
}
div#settings span {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    padding: 4px 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #444;
    border-bottom: 0;
    background-color: #3d4444;
}


/* icon links */
a.expand, a.collapse, a.add, a.add_play, a.replace, a.replace_play, a.update {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: left;
    text-indent: -99999px;
}
a.expand {
    background-image: url(/static/img/folder_expand.png);
}
a.collapse {
    background-image: url(/static/img/folder_collapse.png);
}
a.add {
    background-image: url(/static/img/add.png);
}
a.add_play {
    background-image: url(/static/img/add_play.png);
}
a.replace {
    background-image: url(/static/img/replace.png);
}
a.replace_play {
    background-image: url(/static/img/replace_play.png);
}
a.update {
    background-image: url(/static/img/update.png);
}
a.up {
    padding-left: 20px;
    background: url(/static/img/up.png) no-repeat left center;
}
span.track {
    padding-left: 20px;
    background: url(/static/img/track.png) no-repeat left center;
}

/* notification */
div.error {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    background-color: #d23939;
    border: 1px solid #ef1010;
    color: #c30000;
    padding: 5px 8px;
    -webkit-border-radius: 10px;
}
div.disconnected {
    padding: 30px 30px;
    text-align: center;
    color: #666;
    font-size: 18px;
    font-family: sans-serif;
}
div.disconnected span.reason {
    color: #999;
    font-size: 10px;
}
div.disconnected span.settings {
    font-size: 14px;
}
div.disconnected a {
    color: #777;
    border-bottom: 1px dotted #777;
}
div.empty {
    width: 40%;
    position: absolute;
    top: 35%;
    left: 30%;
    padding: 22px 16px;
    border: 3px solid #ddd;
    background-color: #eee;
    color: #888;
    text-align: center;
    font-family: serif;
    font-size: 18px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
}


/* general */
a {
    color: #666;
    text-decoration: none;
}
img {
    border: 0;
}
p {
    padding-bottom: 18px;
}
.right {
    text-align: right;
}

